recursive-include iso8601 *.py
recursive-include docs *
include .editorconfig
include .envrc
include .gitignore
include .pre-commit-config.yaml
include .tool-versions
include LICENSE
include noxfile.py
include poetry.lock
include pyproject.toml
include README.rst
include setup.py
